<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
<style>
body  {
  background-image: url('http://bestanimations.com/Nature/winter/winter-snow-nature-animated-gif-23.gif');
  background-attachment: fixed;
  height: 100%;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
	font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    color: white;
}
</style>
</head>
<body>
<h1>
<script language="JavaScript"> 
var myDate = new Date(); 
  
if ( myDate.getHours() < 12 ){ 
   	document.write("Good Morning!"); 

} 
else if ( myDate.getHours() >= 12 && myDate.getHours() <= 17 ){ 
    document.write("Good Afternoon!"); 
} 
else if ( myDate.getHours() > 17 && myDate.getHours() <= 24 ) { 
    document.write("Good Evening!"); // 6pm to midnight
 
} 
else  /* the hour is not between 0 and 24, so something is wrong */
{ 
    document.write("I'm not sure what time it is!"); 
} 

var weatherImage = "";
  var imagePhoto = {
	thunder: "https://s-media-cache-ak0.pinimg.com/originals/2e/43/73/2e4373184057ab029b5ca15aca484b09.jpg",
	rainyNight: "https://s3.envato.com/files/32036621/rainy-night-window-pr.jpg",
    rainy: "https://c1.staticflickr.com/1/25/44040866_f74b3a3fd3_b.jpg",
	cloudy: "https://static1.squarespace.com/static/57523357c2ea515ccf6c1adb/58dcea75bebafb06e997da9c/58dcece61e5b6cf38585d46b/1490873606398/mostly+cloudy.jpg",
    cloudyNight: "https://hatterkep.kepek-hatterkepek.hu/221/2213461.jpg",
	snow: "https://static.bhphotovideo.com/explora/sites/default/files/Correct.jpg",
	clear: "https://mota.ru/upload/wallpapers/2010/05/14/08/01/22099/mota_ru_0051405-2560x1600.jpg",
  clearNight: "https://dncache-mauganscorp.netdna-ssl.com/thumbseg/1615/1615594-bigthumbnail.jpg",
	drizzle: "https://s-media-cache-ak0.pinimg.com/736x/e4/43/f5/e443f59b4f03dd487d090a279c2f08ab--rain-drops-water-drops.jpg",
    drizzleNight: "https://c1.staticflickr.com/8/7482/15859210528_7fc3e7fcd6_b.jpg",
	haze: "https://ak3.picdn.net/shutterstock/videos/3578564/thumb/1.jpg",
  hazeNight: "https://farm4.static.flickr.com/3023/2801417308_82e8f25367.jpg",
	tornado: "https://i.ytimg.com/vi/5QnsRXUbsK4/maxresdefault.jpg",
	cold: "https://static.pexels.com/photos/374/snow-dawn-sunset-winter.jpg",
	windy: "https://ak9.picdn.net/shutterstock/videos/4337360/thumb/1.jpg",
  windyNight: "https://s-media-cache-ak0.pinimg.com/736x/ea/5c/03/ea5c035613ecb1852fd9189eb61673ee--beach-at-night-on-the-beach.jpg",
	hail: "https://s-media-cache-ak0.pinimg.com/236x/7c/60/3d/7c603d9183ff32c92330780a2ebdcfca--rainy-weather-rainy-days.jpg",
  sunny: "https://i.ytimg.com/vi/rG9fev-m0ag/maxresdefault.jpg"
};
{% for city_weather in weather_data %}
if({{city_weather.id}}>=200 &&{{city_weather.id}}<=232){
document.body.style.background = "url('https://s-media-cache-ak0.pinimg.com/originals/2e/43/73/2e4373184057ab029b5ca15aca484b09.jpg')";
}
if({{city_weather.id}}>=300 &&{{city_weather.id}}<=321){
document.body.style.background = "url('https://s-media-cache-ak0.pinimg.com/736x/e4/43/f5/e443f59b4f03dd487d090a279c2f08ab--rain-drops-water-drops.jpg')";
}
if({{city_weather.id}}>=500 &&{{city_weather.id}}<=531){
document.body.style.background = "url('https://c1.staticflickr.com/1/25/44040866_f74b3a3fd3_b.jpg')";
}

 if({{city_weather.id}}>=701 &&{{city_weather.id}}<=721){
document.body.style.background = "url('https://www.vancouverobserver.com/sites/vancouverobserver.com/files/imagecache/vo_scale_w850/images/article/body/11707521_10153321879760673_7451420967739177188_n.jpg')";
}
if({{city_weather.id}}==800){
document.body.style.background = "url('https://mota.ru/upload/wallpapers/2010/05/14/08/01/22099/mota_ru_0051405-2560x1600.jpg')";
}
if({{city_weather.id}}>=801 &&{{city_weather.id}}<=804){
document.body.style.background = "url('https://i.gifer.com/RzPO.gif')";
}
if({{city_weather.id}}>=900 &&{{city_weather.id}}<=902){
document.body.style.background = "url('https://i.ytimg.com/vi/5QnsRXUbsK4/maxresdefault.jpg')";
}
 if({{city_weather.id}}==903){
document.body.style.background = "url('https://static.pexels.com/photos/374/snow-dawn-sunset-winter.jpg')";
}
if({{city_weather.id}}==904){
document.body.style.background = "url('https://i.ytimg.com/vi/rG9fev-m0ag/maxresdefault.jpg')";
}
if({{city_weather.id}}==905){
document.body.style.background = "url('https://ak9.picdn.net/shutterstock/videos/4337360/thumb/1.jpg')";
}
if({{city_weather.id}}==906){
document.body.style.background = "url('https://s-media-cache-ak0.pinimg.com/236x/7c/60/3d/7c603d9183ff32c92330780a2ebdcfca--rainy-weather-rainy-days.jpg')";
}

{% endfor %}
</script> 
</h1>

        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather ?
                </h1>
            </div>
        </div>
    
<section class="section">
<div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                   
<form method="POST">
{% csrf_token %}
{{form.name}}
<div class="cotrol">
<button type="submit" class="button is-info">Add City</button>
</div>
</form>
</div>
</div>
</div>
</section>
   <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}  
                       <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        
                                       <span class="title">{{city_weather.city}}</span>
                                        <span class="subtitle">{{ city_weather.temperature }}° c</span><br></br>
                                        <span class="subtitle"> {{city_weather.description }} {{ city_weather.temp_min }}°/{{ city_weather.temp_max}}°</span>
                                        <br>humidity {{city_weather.humidity}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                    {% endfor %}
                    </div>
            </div>
        </div>
    </section>
 <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                  {% for week_weather in weekly_data %}  
                       <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ week_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        
                                        <span class="subtitle">avg  temp:{{ week_weather.temperature }}° c</span>
                                       <br>{{week_weather.date}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                    {% endfor %}
                    </div>
            </div>
        </div>
    </section>
</body>
</html>
